@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.Models.PublishedContent
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
     var footer = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "footer");
}

<section class="footer">
    <div class="container">
        <p style="color: white;"> © @footer?.Value("copyrightText")</p>
    </div>
</section>