@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.Models.PublishedContent

@{
    var header = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "header");
    var logoImageurl = header?.Value<IPublishedContent>("logoImage")?.Url() ?? "";
}
<section class="header">
    <div class="upper-header">
        <div class="container">
            <p>@header?.Value("companyAdress")</p>
            <div class="social-icons">
                <a href="@header?.Value("facebookLink")"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="@header?.Value("twitterLink")"><i class="fa-brands fa-twitter"></i></a>
                <a href="@header?.Value("linkedinLink")"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <div class="lower-header">
        <div class="container">
            <a href="/">
                <img src="@logoImageurl" alt="Onatrix Logo">
            </a>
            <nav class="header-nav">
                <a href="@header?.Value("pageOneUrl")">@header?.Value("pageOneName")</a>
                <a href="@header?.Value("pageTwoUrl")">@header?.Value("pageTwoName")</a>
                <a href="@header?.Value("pageThreeUrl")">@header?.Value("pageThreeName")</a>
                <a href="@header?.Value("pageFourUrl")">@header?.Value("pageFourName")</a>
            </nav>
            <button class="search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div>
</section>
