@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.Models.PublishedContent

@{
    var logoImageurl = Model?.Value<IPublishedContent>("logoImage")?.Url() ?? "";
}
<section class="header">
    <div class="upper-header">
        <div class="container">
            <p>@Model?.Value("companyAdress")</p>
            <div class="social-icons">
                <a href="@Model?.Value("facebookLink")"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="@Model?.Value("twitterLink")"><i class="fa-brands fa-twitter"></i></a>
                <a href="@Model?.Value("linkedinLink")"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <div class="lower-header">
        <div class="container">
            <a href="/home">
                <img src="@logoImageurl" alt="Onatrix Logo">
            </a>
            <nav class="header-nav">
                <a href="">About</a>
                <a href="">Services</a>
                <a href="">Projects</a>
                <a href="">Contact</a>
            </nav>
            <button class="search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div>
</section>
