<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8a777d5f-a544-4e6f-8933-35718134f44d" Alias="form" Level="3">
  <Info>
    <Name>Form</Name>
    <Icon>icon-code</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/FORM+Elements</Folder>
    <Compositions>
      <Composition Key="73452412-3c20-4985-b5c9-ee38ae610d68">div</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>