<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3cea706-0b48-4101-b206-cd17685315b8" Alias="Contact" Level="2">
  <Info>
    <Parent Key="f4c00c2c-1eaf-4c54-a03c-3bfa3f0f11e9">Onatrix - Home</Parent>
    <Path>/OnatrixHome/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2024-09-20T12:26:04</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="eedaa97a-b45c-4bea-bca5-d2ead2e82a20">contact</Template>
  </Info>
  <Properties>
    <formLayout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5732a435-630e-4e82-b6f9-7de86cd516a2",
      "udi": "umb://element/23caf76dfcca47a6ba8cf8f4c26fd7e1",
      "sectionTitle": "Contact Form",
      "sectionBackgroundImage": "[{\u0022key\u0022:\u00225ed64c04-2b5e-48c2-9b3c-746ee6c80ab6\u0022,\u0022mediaKey\u0022:\u002234106b17-a8da-4fff-8fce-67caa51898e5\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "centerContent": 1,
      "addSpaceToTop": 0,
      "addPaddingToTop": 1,
      "addPaddingToBottom": 1,
      "addSpaceToBottom": 0
    },
    {
      "contentTypeKey": "b46a66c1-743a-4e8a-990b-e9829e1d0e57",
      "udi": "umb://element/1c7d8d3c3b6346cb8ea2af2e5322afcc",
      "headlineContent": "Request a call back",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Beige\u0022,\r\n  \u0022value\u0022: \u0022#D9C3A9\u0022\r\n}"
    },
    {
      "contentTypeKey": "88fc29e2-a3df-4ab4-a21c-f0c7114c1e88",
      "udi": "umb://element/b31d8998d6854ce9a25e24c192584c21",
      "headlineContent": "Let us know about your next project"
    },
    {
      "contentTypeKey": "7b98aeb2-7df3-4998-b5af-7dc2cc53fa07",
      "udi": "umb://element/e7b95c8197f54320b51ff73809467d5f",
      "paragraphContent": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
    },
    {
      "contentTypeKey": "fc85549b-41bb-44ba-87f1-ad4c5f5c06a7",
      "udi": "umb://element/7c44466f7e944d74809822232e3c1187",
      "uniqueName": "name",
      "placeholderText": "Name",
      "inputType": "[\u0022text\u0022]",
      "isRequired": 0,
      "errorMessage": null
    },
    {
      "contentTypeKey": "fc85549b-41bb-44ba-87f1-ad4c5f5c06a7",
      "udi": "umb://element/48fa4b91a42e4c0bac59384dec6811ab",
      "uniqueName": "phone",
      "placeholderText": "Phone",
      "inputType": "[\u0022tel\u0022]",
      "isRequired": 0,
      "errorMessage": null
    },
    {
      "contentTypeKey": "3d038c3b-a479-4c79-a3cf-3f2870931d71",
      "udi": "umb://element/0350e53e27244ec7a0baa277bb991b7c"
    },
    {
      "contentTypeKey": "fc85549b-41bb-44ba-87f1-ad4c5f5c06a7",
      "udi": "umb://element/670904668d4341f19084ad2996c84c0a",
      "inputType": "[\u0022email\u0022]",
      "placeholderText": "Email adress",
      "uniqueName": "email",
      "isRequired": 0
    },
    {
      "contentTypeKey": "61d5fb41-3252-44cb-a512-c826bf77f201",
      "udi": "umb://element/536006c159da4031b1132223dc40011b",
      "buttonType": "[\u0022submit\u0022]",
      "buttonText": "Submit",
      "backgroundColor": "{\r\n  \u0022label\u0022: \u0022Theme\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}",
      "linkTextColor": "{\r\n  \u0022label\u0022: \u0022Yellow\u0022,\r\n  \u0022value\u0022: \u0022#F2EDDC\u0022\r\n}"
    },
    {
      "contentTypeKey": "8a777d5f-a544-4e6f-8933-35718134f44d",
      "udi": "umb://element/a266c938f5ce4e178912d53514ec3faf"
    },
    {
      "contentTypeKey": "73452412-3c20-4985-b5c9-ee38ae610d68",
      "udi": "umb://element/9d91c73d6d0843f0b436380c391ab566",
      "backgroundColor": "{\r\n  \u0022label\u0022: \u0022Transparentwhite\u0022,\r\n  \u0022value\u0022: \u0022#fff\u0022\r\n}",
      "paddingTop": 1,
      "paddingBottom": 1,
      "paddingLeft": 1,
      "paddingRight": 1
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/23caf76dfcca47a6ba8cf8f4c26fd7e1",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "9032a295-5912-45dc-8278-4cb23da27a08",
            "items": [
              {
                "contentUdi": "umb://element/0350e53e27244ec7a0baa277bb991b7c",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "af1782ea-3af1-4fcc-a29c-9836373356bd",
                    "items": [
                      {
                        "contentUdi": "umb://element/9d91c73d6d0843f0b436380c391ab566",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": [
                          {
                            "key": "e6599a7f-5cf3-4dcb-a889-8110fe26860b",
                            "items": [
                              {
                                "contentUdi": "umb://element/1c7d8d3c3b6346cb8ea2af2e5322afcc",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              },
                              {
                                "contentUdi": "umb://element/b31d8998d6854ce9a25e24c192584c21",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              },
                              {
                                "contentUdi": "umb://element/e7b95c8197f54320b51ff73809467d5f",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              },
                              {
                                "contentUdi": "umb://element/a266c938f5ce4e178912d53514ec3faf",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": [
                                  {
                                    "key": "54d93e5b-f296-4e2e-bd09-a3bb116c9a77",
                                    "items": [
                                      {
                                        "contentUdi": "umb://element/7c44466f7e944d74809822232e3c1187",
                                        "settingsUdi": null,
                                        "columnSpan": 6,
                                        "rowSpan": 1,
                                        "areas": []
                                      },
                                      {
                                        "contentUdi": "umb://element/48fa4b91a42e4c0bac59384dec6811ab",
                                        "settingsUdi": null,
                                        "columnSpan": 6,
                                        "rowSpan": 1,
                                        "areas": []
                                      },
                                      {
                                        "contentUdi": "umb://element/670904668d4341f19084ad2996c84c0a",
                                        "settingsUdi": null,
                                        "columnSpan": 6,
                                        "rowSpan": 1,
                                        "areas": []
                                      },
                                      {
                                        "contentUdi": "umb://element/536006c159da4031b1132223dc40011b",
                                        "settingsUdi": null,
                                        "columnSpan": 6,
                                        "rowSpan": 1,
                                        "areas": []
                                      }
                                    ]
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </formLayout>
    <pageHeadline>
      <Value><![CDATA[Contact Us]]></Value>
    </pageHeadline>
    <pageLayout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1592eeb8-e987-4951-97f9-5d753799e970",
      "udi": "umb://element/ba7bf6122789467097fa50a6192a84e0",
      "sectionTitle": "Contact white background",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022White\u0022,\r\n  \u0022value\u0022: \u0022#ffffff\u0022\r\n}",
      "centerContent": 0,
      "addSpaceToTop": 1,
      "centerContentVertically": 1,
      "sectionBackgroundImage": null
    },
    {
      "contentTypeKey": "6c868789-0c7a-4091-ba45-745abd3dac5a",
      "udi": "umb://element/2c4606f0df16486c9905f005561df42c"
    },
    {
      "contentTypeKey": "6c868789-0c7a-4091-ba45-745abd3dac5a",
      "udi": "umb://element/7b98ddfb7d2f4a0f93f7631426373913"
    },
    {
      "contentTypeKey": "d273ea5d-4582-4b31-85e9-cfc1783ff87e",
      "udi": "umb://element/908cbf064a104d389904c77ae9517f3c",
      "selectedImage": "[{\u0022key\u0022:\u00225b72c423-4565-4cf2-8b2e-602839367096\u0022,\u0022mediaKey\u0022:\u00225993f0e3-8df2-4684-83bc-4e39ca78c518\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "88fc29e2-a3df-4ab4-a21c-f0c7114c1e88",
      "udi": "umb://element/8e658a77f7f740fcbd6a3a94b6a31c06",
      "headlineContent": " Let us know about your next project",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Theme\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}"
    },
    {
      "contentTypeKey": "e127e5de-a5c1-4f2e-890d-db2719c4fbaf",
      "udi": "umb://element/d05f13e44c104e3d9a882f715d4f8185",
      "includeContactInformation": 1
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/ba7bf6122789467097fa50a6192a84e0",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "b1e1bee0-0d7f-4b20-acac-533e8179d4e8",
            "items": [
              {
                "contentUdi": "umb://element/2c4606f0df16486c9905f005561df42c",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "82f36d5f-c175-4167-9a20-d2d7359fda44",
                    "items": [
                      {
                        "contentUdi": "umb://element/908cbf064a104d389904c77ae9517f3c",
                        "settingsUdi": null,
                        "columnSpan": 10,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/7b98ddfb7d2f4a0f93f7631426373913",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "82f36d5f-c175-4167-9a20-d2d7359fda44",
                    "items": [
                      {
                        "contentUdi": "umb://element/8e658a77f7f740fcbd6a3a94b6a31c06",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/d05f13e44c104e3d9a882f715d4f8185",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </pageLayout>
    <pageTitle>
      <Value><![CDATA[Contact]]></Value>
    </pageTitle>
    <renderPartners>
      <Value><![CDATA[1]]></Value>
    </renderPartners>
    <reusableLayout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1592eeb8-e987-4951-97f9-5d753799e970",
      "udi": "umb://element/7755fbc5858c4691830682f9e2cb0201",
      "sectionTitle": "Contact",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#F7F7F7\u0022\r\n}",
      "addSpaceToTop": 1,
      "addSpaceToBottom": 0,
      "centerContentVertically": 1,
      "centerContentHorizontally": 0,
      "centerContent": 0,
      "addPaddingToTop": 1
    },
    {
      "contentTypeKey": "6c868789-0c7a-4091-ba45-745abd3dac5a",
      "udi": "umb://element/9f4a9fa2f87549888b5fa21d732f6297"
    },
    {
      "contentTypeKey": "88fc29e2-a3df-4ab4-a21c-f0c7114c1e88",
      "udi": "umb://element/16edd35c177f43a1b2a565e96c10e2d8",
      "headlineContent": "Let us know about your next project"
    },
    {
      "contentTypeKey": "6c868789-0c7a-4091-ba45-745abd3dac5a",
      "udi": "umb://element/2b1d397dda284b5fa303e03ea8f91bba"
    },
    {
      "contentTypeKey": "d273ea5d-4582-4b31-85e9-cfc1783ff87e",
      "udi": "umb://element/ae3f0af1201646fe9996196db5128406",
      "selectedImage": "[{\u0022key\u0022:\u002205ad902e-bfb8-4f78-a85f-0f8be293ebcd\u0022,\u0022mediaKey\u0022:\u00225993f0e3-8df2-4684-83bc-4e39ca78c518\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "e127e5de-a5c1-4f2e-890d-db2719c4fbaf",
      "udi": "umb://element/86ab7d9ae5574fed9d45c4c8f224eadb",
      "includeContactInformation": 1
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/7755fbc5858c4691830682f9e2cb0201",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "b1e1bee0-0d7f-4b20-acac-533e8179d4e8",
            "items": [
              {
                "contentUdi": "umb://element/2b1d397dda284b5fa303e03ea8f91bba",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "82f36d5f-c175-4167-9a20-d2d7359fda44",
                    "items": [
                      {
                        "contentUdi": "umb://element/ae3f0af1201646fe9996196db5128406",
                        "settingsUdi": null,
                        "columnSpan": 10,
                        "rowSpan": 1,
                        "areas": [
                          {
                            "key": "a5ac8b2c-6b94-4955-a3d4-132827c5834d",
                            "items": []
                          }
                        ]
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/9f4a9fa2f87549888b5fa21d732f6297",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "82f36d5f-c175-4167-9a20-d2d7359fda44",
                    "items": [
                      {
                        "contentUdi": "umb://element/16edd35c177f43a1b2a565e96c10e2d8",
                        "settingsUdi": null,
                        "columnSpan": 11,
                        "rowSpan": 1,
                        "areas": [
                          {
                            "key": "667e9883-b3d4-47bf-984d-ee25b21bcdda",
                            "items": []
                          }
                        ]
                      },
                      {
                        "contentUdi": "umb://element/86ab7d9ae5574fed9d45c4c8f224eadb",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": [
                          {
                            "key": "3a307ceb-5d56-4f70-9575-9bc1e08cc623",
                            "items": []
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </reusableLayout>
  </Properties>
</Content>