<?xml version="1.0" encoding="utf-8"?>
<Content Key="f82f9818-8458-4543-9785-31ca9290d8f3" Alias="Footer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2024-09-06T15:28:13</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyrightText>
      <Value><![CDATA[Onatrix. All Rights Reserved.]]></Value>
    </copyrightText>
  </Properties>
</Content>