<?xml version="1.0" encoding="utf-8"?>
<Content Key="91aee385-b4a1-4615-ac4a-8d0fe69adc1c" Alias="Header" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>header</ContentType>
    <CreateDate>2024-09-05T15:29:13</CreateDate>
    <NodeName Default="Header" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <logoType>
      <Value><![CDATA[[
  {
    "key": "6ac98adf-5d85-4a8e-8a27-4a4453e6ddd7",
    "mediaKey": "4fb03de5-7d0c-4d50-8126-2e0ad729f89f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logoType>
  </Properties>
</Content>