<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4c00c2c-1eaf-4c54-a03c-3bfa3f0f11e9" Alias="Onatrix - Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixHome</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-09-03T15:12:21</CreateDate>
    <NodeName Default="Onatrix - Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ce95f218-29f3-4778-8e32-bc1345854a0c">home</Template>
  </Info>
  <Properties>
    <pageLayout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "34c861d8-2c4b-405b-b8d4-067402a262a4",
      "udi": "umb://element/2b6545876cbe4c1488233e53111b042e",
      "headlineContent": "We bring success to you"
    },
    {
      "contentTypeKey": "7b98aeb2-7df3-4998-b5af-7dc2cc53fa07",
      "udi": "umb://element/5708ed41ed6449719f94ecebca49b9e2",
      "paragraphContent": "Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim"
    },
    {
      "contentTypeKey": "cac3e6b0-631f-4e25-b9f5-f0d8e3d518fb",
      "udi": "umb://element/01754b91ba3f40b68766e3582a651110",
      "buttonLinkText": "Contact Us",
      "backgroundColor": "{\r\n  \u0022label\u0022: \u0022Theme\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}",
      "linkTextColor": "{\r\n  \u0022label\u0022: \u0022Yellow\u0022,\r\n  \u0022value\u0022: \u0022#F2EDDC\u0022\r\n}"
    },
    {
      "contentTypeKey": "6c868789-0c7a-4091-ba45-745abd3dac5a",
      "udi": "umb://element/25cfefdb2c9c41939a89a60a328f94c9"
    },
    {
      "contentTypeKey": "1592eeb8-e987-4951-97f9-5d753799e970",
      "udi": "umb://element/aa87766c87a2429f9ad851db7f59b8d7",
      "sectionTitle": "About Us",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022White\u0022,\r\n  \u0022value\u0022: \u0022#ffffff\u0022\r\n}",
      "addSpaceToTop": 1,
      "addSpaceToBottom": 1,
      "centerContentHorizontally": 0,
      "centerContentVertically": 1
    },
    {
      "contentTypeKey": "6c868789-0c7a-4091-ba45-745abd3dac5a",
      "udi": "umb://element/574e681f7ff14b5f844cb4689a3d5982"
    },
    {
      "contentTypeKey": "b46a66c1-743a-4e8a-990b-e9829e1d0e57",
      "udi": "umb://element/833269eeb0584caea2922ef127153275",
      "headlineContent": "ABOUT US",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Beige\u0022,\r\n  \u0022value\u0022: \u0022#D9C3A9\u0022\r\n}"
    },
    {
      "contentTypeKey": "88fc29e2-a3df-4ab4-a21c-f0c7114c1e88",
      "udi": "umb://element/16cd318fa8cf4aa683b173a7364431c8",
      "headlineContent": "We have 40 years experience",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Theme\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}"
    },
    {
      "contentTypeKey": "52478c7f-1c59-4d8e-886c-dc532aa276ab",
      "udi": "umb://element/c724d18b18514b6bb1b73eda9d1e673c",
      "quotationContent": "We have over 25 years of experience providing expert financial advice to both businesses and individuals."
    },
    {
      "contentTypeKey": "7b98aeb2-7df3-4998-b5af-7dc2cc53fa07",
      "udi": "umb://element/9d99cf79de7b49739bef393b0f3fe689",
      "paragraphContent": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium."
    },
    {
      "contentTypeKey": "d273ea5d-4582-4b31-85e9-cfc1783ff87e",
      "udi": "umb://element/a40209841c3c4139acbbbd66c2daff9e",
      "selectedImage": "[{\u0022key\u0022:\u0022c7dd8c22-cbd5-4f5c-97a2-83cf949912ae\u0022,\u0022mediaKey\u0022:\u00225dea6743-6099-44c1-be45-04db29553714\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "7b98aeb2-7df3-4998-b5af-7dc2cc53fa07",
      "udi": "umb://element/8c34891b4a5b47b2ab78c3d40e5ba69e",
      "paragraphContent": "Tina Fox - CEO \u0026 Founder"
    },
    {
      "contentTypeKey": "1592eeb8-e987-4951-97f9-5d753799e970",
      "udi": "umb://element/b4cc58c192fd4fd88e2e89c026099b7d",
      "sectionTitle": "Why choose us",
      "centerContent": 1,
      "addSpaceToTop": 1,
      "addSpaceToBottom": 0,
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022White\u0022,\r\n  \u0022value\u0022: \u0022#ffffff\u0022\r\n}",
      "sectionBackgroundImage": "[{\u0022key\u0022:\u002242817ba0-cb90-4e8d-8d56-4da53a3b252b\u0022,\u0022mediaKey\u0022:\u00226001ca3c-2f71-4612-a8b7-6d8483a886f5\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "centerContentVertically": 0,
      "centerContentHorizontally": 0
    },
    {
      "contentTypeKey": "cac3e6b0-631f-4e25-b9f5-f0d8e3d518fb",
      "udi": "umb://element/4c08156cfd784bdc8bfb33fb995a53a8",
      "buttonLinkText": "Read our story",
      "backgroundColor": "{\r\n  \u0022label\u0022: \u0022Theme\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}",
      "linkTextColor": "{\r\n  \u0022label\u0022: \u0022Yellow\u0022,\r\n  \u0022value\u0022: \u0022#F2EDDC\u0022\r\n}",
      "centerButton": 1
    },
    {
      "contentTypeKey": "d273ea5d-4582-4b31-85e9-cfc1783ff87e",
      "udi": "umb://element/1652a17da12c48269662836c2754f28f",
      "selectedImage": "[{\u0022key\u0022:\u0022d475ef79-4fff-4a4e-9b84-13a4124ce642\u0022,\u0022mediaKey\u0022:\u002236a18bd0-ef5a-452c-b779-834429933bc7\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "roundEdgesTop": 1
    },
    {
      "contentTypeKey": "1592eeb8-e987-4951-97f9-5d753799e970",
      "udi": "umb://element/e19f10a4d5484537a2dde76a65783ea2",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#F7F7F7\u0022\r\n}",
      "sectionTitle": "OurServices",
      "centerContent": 0,
      "addSpaceToTop": 0,
      "addSpaceToBottom": 0,
      "addPaddingToTop": 1,
      "addPaddingToBottom": 1
    },
    {
      "contentTypeKey": "1592eeb8-e987-4951-97f9-5d753799e970",
      "udi": "umb://element/1e857d2442754a1ba3927bdfad664eed",
      "sectionTitle": "Success story",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Theme\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}",
      "centerContent": 1,
      "addPaddingToTop": 1,
      "addPaddingToBottom": 0,
      "sectionBackgroundImage": "[{\u0022key\u0022:\u0022d1fd6deb-55fe-425e-9ff2-0acd319621ff\u0022,\u0022mediaKey\u0022:\u002248c98172-bdaa-4248-8dd6-948c9c0d1e34\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "1592eeb8-e987-4951-97f9-5d753799e970",
      "udi": "umb://element/b7993fea8f054b13aeead39badfe7079",
      "sectionTitle": "Hero",
      "sectionBackgroundImage": "[{\u0022key\u0022:\u0022b38ea475-e96d-4657-a968-bf644edd919b\u0022,\u0022mediaKey\u0022:\u002291f23f51-13bf-4027-9606-ceb880d8ad9f\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "centerContentVertically": 1,
      "addPaddingToTop": 1,
      "addPaddingToBottom": 1
    },
    {
      "contentTypeKey": "b46a66c1-743a-4e8a-990b-e9829e1d0e57",
      "udi": "umb://element/bbd34a3ad0464320bd84c839611ec041",
      "headlineContent": "OUR SERVICES",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Beige\u0022,\r\n  \u0022value\u0022: \u0022#D9C3A9\u0022\r\n}"
    },
    {
      "contentTypeKey": "88fc29e2-a3df-4ab4-a21c-f0c7114c1e88",
      "udi": "umb://element/46253ed790c34bb6b57f415ce6e98e41",
      "headlineContent": "We Provide The Solutions To Grow Your Business Faster",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Theme\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}"
    },
    {
      "contentTypeKey": "af56d034-14ba-4a02-8aab-4ea30ebfb0d6",
      "udi": "umb://element/4ce02cb6618b42e89b8d38fc6f8a3181",
      "includeServiceItems": 1
    },
    {
      "contentTypeKey": "d273ea5d-4582-4b31-85e9-cfc1783ff87e",
      "udi": "umb://element/dd3ff16269b14a388b8cc7f02320852f",
      "selectedImage": "[{\u0022key\u0022:\u0022d5b6669a-e988-474d-a7c9-d694c9859834\u0022,\u0022mediaKey\u0022:\u002272ee3aee-ccc4-48d9-ac5d-4ed5ec4db554\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "roundEdgesTop": 1
    },
    {
      "contentTypeKey": "73452412-3c20-4985-b5c9-ee38ae610d68",
      "udi": "umb://element/f03186a13a98498b8d8f18675a86138c",
      "paddingTop": 0,
      "paddingBottom": 1
    },
    {
      "contentTypeKey": "73452412-3c20-4985-b5c9-ee38ae610d68",
      "udi": "umb://element/3f66d5477a7e48ba8c9f60db3629f531"
    },
    {
      "contentTypeKey": "73452412-3c20-4985-b5c9-ee38ae610d68",
      "udi": "umb://element/5a12b9663e374368ac3ba53d27598dc5"
    },
    {
      "contentTypeKey": "73452412-3c20-4985-b5c9-ee38ae610d68",
      "udi": "umb://element/b4c81f9f459b4fb084356b8476d81ee4"
    },
    {
      "contentTypeKey": "34c861d8-2c4b-405b-b8d4-067402a262a4",
      "udi": "umb://element/35924485d168474aaef749b9c96760c7",
      "headlineContent": "689",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Beige\u0022,\r\n  \u0022value\u0022: \u0022#D9C3A9\u0022\r\n}"
    },
    {
      "contentTypeKey": "7b98aeb2-7df3-4998-b5af-7dc2cc53fa07",
      "udi": "umb://element/98edb78071af48398c842c0694391dc3",
      "paragraphContent": "More than 100 customers has been served",
      "paragraphColor": "{\r\n  \u0022label\u0022: \u0022White\u0022,\r\n  \u0022value\u0022: \u0022#ffffff\u0022\r\n}"
    },
    {
      "contentTypeKey": "34c861d8-2c4b-405b-b8d4-067402a262a4",
      "udi": "umb://element/9e2657c49ad84596a09815c0da4a2ab4",
      "headlineContent": "370",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Beige\u0022,\r\n  \u0022value\u0022: \u0022#D9C3A9\u0022\r\n}"
    },
    {
      "contentTypeKey": "7b98aeb2-7df3-4998-b5af-7dc2cc53fa07",
      "udi": "umb://element/e4ba08fa8bff4c648587ae7952bd40a4",
      "paragraphContent": "More than 370 projects has been completed",
      "paragraphColor": "{\r\n  \u0022label\u0022: \u0022White\u0022,\r\n  \u0022value\u0022: \u0022#ffffff\u0022\r\n}"
    },
    {
      "contentTypeKey": "34c861d8-2c4b-405b-b8d4-067402a262a4",
      "udi": "umb://element/d943f31dae7a4517854e634a1d37e492",
      "headlineContent": "125",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Beige\u0022,\r\n  \u0022value\u0022: \u0022#D9C3A9\u0022\r\n}"
    },
    {
      "contentTypeKey": "7b98aeb2-7df3-4998-b5af-7dc2cc53fa07",
      "udi": "umb://element/44f63ae3e162466bb081f8e12d158ee5",
      "paragraphContent": "More than 125 branches has been established in Europe and America",
      "paragraphColor": "{\r\n  \u0022label\u0022: \u0022White\u0022,\r\n  \u0022value\u0022: \u0022#ffffff\u0022\r\n}"
    },
    {
      "contentTypeKey": "5732a435-630e-4e82-b6f9-7de86cd516a2",
      "udi": "umb://element/8b30c002c5be42639c8aef4487446036",
      "sectionTitle": "Recent Projects",
      "addSpaceToTop": 1
    },
    {
      "contentTypeKey": "3d038c3b-a479-4c79-a3cf-3f2870931d71",
      "udi": "umb://element/ac97b9620ce845ba87573369abe5bde1"
    },
    {
      "contentTypeKey": "b46a66c1-743a-4e8a-990b-e9829e1d0e57",
      "udi": "umb://element/b9e2c12c5834442a8cc7d76099aff830",
      "headlineContent": "OUR PROJECTS",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Beige\u0022,\r\n  \u0022value\u0022: \u0022#D9C3A9\u0022\r\n}"
    },
    {
      "contentTypeKey": "88fc29e2-a3df-4ab4-a21c-f0c7114c1e88",
      "udi": "umb://element/14140f4cb09340459ce277820f869745",
      "headlineContent": "Recent projects",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Theme\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}"
    },
    {
      "contentTypeKey": "543e685c-2a96-4844-9259-1a96c33a8fe8",
      "udi": "umb://element/4ceb956ed77c427e95f2b4687c542d8e",
      "includeRecentProjectItems": 1
    },
    {
      "contentTypeKey": "7ae50a5a-4ae7-4015-b45b-b7f215859ca0",
      "udi": "umb://element/36591a2ab69048ddaa3c5c04c1e8df06",
      "richTextContent": "{\u0022markup\u0022:\u0022\\u003Ch2\\u003E\\u003Cspan class=\\u0022poppins\\u0022 style=\\u0022font-size: 24pt;\\u0022\\u003EWe are trusted by more than\\u003C/span\\u003E\\u003C/h2\\u003E\\n\\u003Ch2\\u003E\\u003Cspan class=\\u0022poppins\\u0022 style=\\u0022color: rgb(217, 195, 169); font-size: 24pt;\\u0022\\u003E4.000\\u002B clients\\u003C/span\\u003E\\u003C/h2\\u003E\\n\\u003Cp\\u003E\\u0026nbsp;\\u003C/p\\u003E\\n\\u003Cp\\u003E\\u003Cspan class=\\u0022poppins\\u0022 style=\\u0022color: rgb(0, 0, 0);\\u0022\\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. \\u003C/span\\u003E\\u003C/p\\u003E\\n\\u003Cp\\u003E\\u003Cspan class=\\u0022poppins\\u0022 style=\\u0022color: rgb(0, 0, 0);\\u0022\\u003ENam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\\u003C/span\\u003E\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    },
    {
      "contentTypeKey": "b46a66c1-743a-4e8a-990b-e9829e1d0e57",
      "udi": "umb://element/355d755e8b01427d8a62bdd716fd3fff",
      "headlineContent": "SUCCESS STORIES",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Beige\u0022,\r\n  \u0022value\u0022: \u0022#D9C3A9\u0022\r\n}"
    },
    {
      "contentTypeKey": "88fc29e2-a3df-4ab4-a21c-f0c7114c1e88",
      "udi": "umb://element/da53d90b71e44cf0b58e37df39813556",
      "headlineContent": "Success story",
      "textColor": "{\r\n  \u0022label\u0022: \u0022White\u0022,\r\n  \u0022value\u0022: \u0022#ffffff\u0022\r\n}"
    },
    {
      "contentTypeKey": "8a777d5f-a544-4e6f-8933-35718134f44d",
      "udi": "umb://element/f212a3e3b1424be5b22fcb65ea4fd7e8"
    },
    {
      "contentTypeKey": "73452412-3c20-4985-b5c9-ee38ae610d68",
      "udi": "umb://element/36cb04cf769047a38bf071e2abca2be4",
      "backgroundColor": "{\r\n  \u0022label\u0022: \u0022Theme\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}",
      "paddingTop": 1,
      "paddingBottom": 1,
      "paddingLeft": 1,
      "paddingRight": 0,
      "centerContent": 0
    },
    {
      "contentTypeKey": "7b98aeb2-7df3-4998-b5af-7dc2cc53fa07",
      "udi": "umb://element/c5d343f10d4d4bc48d7e01fdb9a4f26f",
      "paragraphContent": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. ",
      "paragraphColor": "{\r\n  \u0022label\u0022: \u0022Theme\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}"
    },
    {
      "contentTypeKey": "73452412-3c20-4985-b5c9-ee38ae610d68",
      "udi": "umb://element/ae3565f31a97472da98a1be15f1509f4",
      "boxShadow": 1
    },
    {
      "contentTypeKey": "fc85549b-41bb-44ba-87f1-ad4c5f5c06a7",
      "udi": "umb://element/92089d8525184e1585711a2260e6772c",
      "inputType": "[\u0022text\u0022]",
      "uniqueName": "name",
      "placeholderText": "Name"
    },
    {
      "contentTypeKey": "fc85549b-41bb-44ba-87f1-ad4c5f5c06a7",
      "udi": "umb://element/4ffe0bc468804781a00604003126ed6a",
      "inputType": "[\u0022email\u0022]",
      "uniqueName": "email",
      "placeholderText": "Email adress"
    },
    {
      "contentTypeKey": "fc85549b-41bb-44ba-87f1-ad4c5f5c06a7",
      "udi": "umb://element/8037d952bf174602b8a83847768de07c",
      "inputType": "[\u0022tel\u0022]",
      "uniqueName": "phone",
      "placeholderText": "Phone"
    },
    {
      "contentTypeKey": "61d5fb41-3252-44cb-a512-c826bf77f201",
      "udi": "umb://element/794a825f9b1245a28ed3991307d4e455",
      "buttonText": "Submit",
      "buttonType": "[\u0022submit\u0022]",
      "backgroundColor": "{\r\n  \u0022label\u0022: \u0022Yellow\u0022,\r\n  \u0022value\u0022: \u0022#F2EDDC\u0022\r\n}",
      "linkTextColor": "{\r\n  \u0022label\u0022: \u0022Theme\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}",
      "centerButton": 0,
      "makeButtonFullWidth": 1
    },
    {
      "contentTypeKey": "73452412-3c20-4985-b5c9-ee38ae610d68",
      "udi": "umb://element/29c8a68485fc43018050ac71d5438098",
      "paddingLeft": 1,
      "paddingRight": 1,
      "paddingBottom": 1
    },
    {
      "contentTypeKey": "d953915f-ea5e-4d20-aae0-dfba6e2beb1f",
      "udi": "umb://element/8f2c179d99464a8c91f3a311adbac957",
      "headlineContent": "Request a call back",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Yellow\u0022,\r\n  \u0022value\u0022: \u0022#F2EDDC\u0022\r\n}"
    },
    {
      "contentTypeKey": "73452412-3c20-4985-b5c9-ee38ae610d68",
      "udi": "umb://element/04426a638d7b4001a69d5eb95d36aba4",
      "centerContent": 1
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/b7993fea8f054b13aeead39badfe7079",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "b1e1bee0-0d7f-4b20-acac-533e8179d4e8",
            "items": [
              {
                "contentUdi": "umb://element/25cfefdb2c9c41939a89a60a328f94c9",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "82f36d5f-c175-4167-9a20-d2d7359fda44",
                    "items": [
                      {
                        "contentUdi": "umb://element/2b6545876cbe4c1488233e53111b042e",
                        "settingsUdi": null,
                        "columnSpan": 11,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/5708ed41ed6449719f94ecebca49b9e2",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/01754b91ba3f40b68766e3582a651110",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/aa87766c87a2429f9ad851db7f59b8d7",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "b1e1bee0-0d7f-4b20-acac-533e8179d4e8",
            "items": [
              {
                "contentUdi": "umb://element/574e681f7ff14b5f844cb4689a3d5982",
                "settingsUdi": null,
                "columnSpan": 7,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "82f36d5f-c175-4167-9a20-d2d7359fda44",
                    "items": [
                      {
                        "contentUdi": "umb://element/833269eeb0584caea2922ef127153275",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/16cd318fa8cf4aa683b173a7364431c8",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/c724d18b18514b6bb1b73eda9d1e673c",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/9d99cf79de7b49739bef393b0f3fe689",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/a40209841c3c4139acbbbd66c2daff9e",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/8c34891b4a5b47b2ab78c3d40e5ba69e",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/ae3565f31a97472da98a1be15f1509f4",
                "settingsUdi": null,
                "columnSpan": 5,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "e6599a7f-5cf3-4dcb-a889-8110fe26860b",
                    "items": [
                      {
                        "contentUdi": "umb://element/36cb04cf769047a38bf071e2abca2be4",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": [
                          {
                            "key": "e6599a7f-5cf3-4dcb-a889-8110fe26860b",
                            "items": [
                              {
                                "contentUdi": "umb://element/8f2c179d99464a8c91f3a311adbac957",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "contentUdi": "umb://element/29c8a68485fc43018050ac71d5438098",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": [
                          {
                            "key": "e6599a7f-5cf3-4dcb-a889-8110fe26860b",
                            "items": [
                              {
                                "contentUdi": "umb://element/c5d343f10d4d4bc48d7e01fdb9a4f26f",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              },
                              {
                                "contentUdi": "umb://element/f212a3e3b1424be5b22fcb65ea4fd7e8",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": [
                                  {
                                    "key": "54d93e5b-f296-4e2e-bd09-a3bb116c9a77",
                                    "items": [
                                      {
                                        "contentUdi": "umb://element/92089d8525184e1585711a2260e6772c",
                                        "settingsUdi": null,
                                        "columnSpan": 12,
                                        "rowSpan": 1,
                                        "areas": []
                                      },
                                      {
                                        "contentUdi": "umb://element/4ffe0bc468804781a00604003126ed6a",
                                        "settingsUdi": null,
                                        "columnSpan": 12,
                                        "rowSpan": 1,
                                        "areas": []
                                      },
                                      {
                                        "contentUdi": "umb://element/8037d952bf174602b8a83847768de07c",
                                        "settingsUdi": null,
                                        "columnSpan": 12,
                                        "rowSpan": 1,
                                        "areas": []
                                      },
                                      {
                                        "contentUdi": "umb://element/794a825f9b1245a28ed3991307d4e455",
                                        "settingsUdi": null,
                                        "columnSpan": 12,
                                        "rowSpan": 1,
                                        "areas": []
                                      }
                                    ]
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/e19f10a4d5484537a2dde76a65783ea2",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "b1e1bee0-0d7f-4b20-acac-533e8179d4e8",
            "items": [
              {
                "contentUdi": "umb://element/04426a638d7b4001a69d5eb95d36aba4",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "e6599a7f-5cf3-4dcb-a889-8110fe26860b",
                    "items": [
                      {
                        "contentUdi": "umb://element/bbd34a3ad0464320bd84c839611ec041",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/46253ed790c34bb6b57f415ce6e98e41",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/4ce02cb6618b42e89b8d38fc6f8a3181",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/b4cc58c192fd4fd88e2e89c026099b7d",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "b1e1bee0-0d7f-4b20-acac-533e8179d4e8",
            "items": [
              {
                "contentUdi": "umb://element/36591a2ab69048ddaa3c5c04c1e8df06",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/4c08156cfd784bdc8bfb33fb995a53a8",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/1652a17da12c48269662836c2754f28f",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/1e857d2442754a1ba3927bdfad664eed",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "b1e1bee0-0d7f-4b20-acac-533e8179d4e8",
            "items": [
              {
                "contentUdi": "umb://element/355d755e8b01427d8a62bdd716fd3fff",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/da53d90b71e44cf0b58e37df39813556",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/f03186a13a98498b8d8f18675a86138c",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "e6599a7f-5cf3-4dcb-a889-8110fe26860b",
                    "items": [
                      {
                        "contentUdi": "umb://element/b4c81f9f459b4fb084356b8476d81ee4",
                        "settingsUdi": null,
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "areas": [
                          {
                            "key": "e6599a7f-5cf3-4dcb-a889-8110fe26860b",
                            "items": [
                              {
                                "contentUdi": "umb://element/35924485d168474aaef749b9c96760c7",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              },
                              {
                                "contentUdi": "umb://element/98edb78071af48398c842c0694391dc3",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "contentUdi": "umb://element/5a12b9663e374368ac3ba53d27598dc5",
                        "settingsUdi": null,
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "areas": [
                          {
                            "key": "e6599a7f-5cf3-4dcb-a889-8110fe26860b",
                            "items": [
                              {
                                "contentUdi": "umb://element/9e2657c49ad84596a09815c0da4a2ab4",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              },
                              {
                                "contentUdi": "umb://element/e4ba08fa8bff4c648587ae7952bd40a4",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "contentUdi": "umb://element/3f66d5477a7e48ba8c9f60db3629f531",
                        "settingsUdi": null,
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "areas": [
                          {
                            "key": "e6599a7f-5cf3-4dcb-a889-8110fe26860b",
                            "items": [
                              {
                                "contentUdi": "umb://element/d943f31dae7a4517854e634a1d37e492",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              },
                              {
                                "contentUdi": "umb://element/44f63ae3e162466bb081f8e12d158ee5",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/dd3ff16269b14a388b8cc7f02320852f",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/8b30c002c5be42639c8aef4487446036",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "9032a295-5912-45dc-8278-4cb23da27a08",
            "items": [
              {
                "contentUdi": "umb://element/ac97b9620ce845ba87573369abe5bde1",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "af1782ea-3af1-4fcc-a29c-9836373356bd",
                    "items": [
                      {
                        "contentUdi": "umb://element/b9e2c12c5834442a8cc7d76099aff830",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/14140f4cb09340459ce277820f869745",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/4ceb956ed77c427e95f2b4687c542d8e",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </pageLayout>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <renderContactReusableLayout>
      <Value><![CDATA[0]]></Value>
    </renderContactReusableLayout>
    <renderPartners>
      <Value><![CDATA[1]]></Value>
    </renderPartners>
  </Properties>
</Content>