<?xml version="1.0" encoding="utf-8"?>
<Content Key="0feb1454-8840-49a3-9a43-e0af2af47f24" Alias="Projects" Level="2">
  <Info>
    <Parent Key="f4c00c2c-1eaf-4c54-a03c-3bfa3f0f11e9">Onatrix - Home</Parent>
    <Path>/OnatrixHome/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2024-09-11T15:57:20</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="297b027b-912a-44f6-863b-4b1bcffc76e5">projects</Template>
  </Info>
  <Properties>
    <pageHeadline>
      <Value><![CDATA[Our Projects]]></Value>
    </pageHeadline>
    <pageLayout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1592eeb8-e987-4951-97f9-5d753799e970",
      "udi": "umb://element/b04351717d76440c96a183c909fd5ff0",
      "sectionTitle": "Our Projects",
      "addSpaceToTop": 1
    },
    {
      "contentTypeKey": "6c868789-0c7a-4091-ba45-745abd3dac5a",
      "udi": "umb://element/0a9fe6368f144f5ea09d764b5131b845"
    },
    {
      "contentTypeKey": "bedd8386-d44f-4548-a55f-4c44ae3b4558",
      "udi": "umb://element/921afc291ed3448ea562348855327941",
      "includeProjectItems": 1
    },
    {
      "contentTypeKey": "8a777d5f-a544-4e6f-8933-35718134f44d",
      "udi": "umb://element/202dcbd3604b43b2bb0d2527a3b5405b",
      "backgroundColor": "{\r\n  \u0022label\u0022: \u0022Theme\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}",
      "paddingTop": 1,
      "paddingBottom": 1,
      "paddingLeft": 1,
      "paddingRight": 1
    },
    {
      "contentTypeKey": "d953915f-ea5e-4d20-aae0-dfba6e2beb1f",
      "udi": "umb://element/d56715800211412f861df46ff1c8fe06",
      "headlineContent": "We can help you!",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Yellow\u0022,\r\n  \u0022value\u0022: \u0022#F2EDDC\u0022\r\n}"
    },
    {
      "contentTypeKey": "7b98aeb2-7df3-4998-b5af-7dc2cc53fa07",
      "udi": "umb://element/53cec82043fe4ff48647ea8d90449696",
      "paragraphContent": "online support 24/7, we are here to help you",
      "paragraphColor": "{\r\n  \u0022label\u0022: \u0022White\u0022,\r\n  \u0022value\u0022: \u0022#ffffff\u0022\r\n}"
    },
    {
      "contentTypeKey": "fc85549b-41bb-44ba-87f1-ad4c5f5c06a7",
      "udi": "umb://element/63945212c6dc4795a1f496dd179a9315",
      "uniqueName": "email",
      "placeholderText": "E-mail adress",
      "inputType": "[\u0022email\u0022]"
    },
    {
      "contentTypeKey": "61d5fb41-3252-44cb-a512-c826bf77f201",
      "udi": "umb://element/b2b4ec70f704423f9a7fd20aff7a954f",
      "buttonText": "Send",
      "buttonType": "[\u0022submit\u0022]",
      "backgroundColor": "{\r\n  \u0022label\u0022: \u0022Yellow\u0022,\r\n  \u0022value\u0022: \u0022#F2EDDC\u0022\r\n}",
      "linkTextColor": "{\r\n  \u0022label\u0022: \u0022Theme\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}",
      "makeButtonFullWidth": 1
    },
    {
      "contentTypeKey": "73452412-3c20-4985-b5c9-ee38ae610d68",
      "udi": "umb://element/bdd39d746f82494093cfd2a332c350ec",
      "paddingLeft": 1
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/b04351717d76440c96a183c909fd5ff0",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "b1e1bee0-0d7f-4b20-acac-533e8179d4e8",
            "items": [
              {
                "contentUdi": "umb://element/0a9fe6368f144f5ea09d764b5131b845",
                "settingsUdi": null,
                "columnSpan": 8,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "82f36d5f-c175-4167-9a20-d2d7359fda44",
                    "items": [
                      {
                        "contentUdi": "umb://element/921afc291ed3448ea562348855327941",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/bdd39d746f82494093cfd2a332c350ec",
                "settingsUdi": null,
                "columnSpan": 4,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "e6599a7f-5cf3-4dcb-a889-8110fe26860b",
                    "items": [
                      {
                        "contentUdi": "umb://element/202dcbd3604b43b2bb0d2527a3b5405b",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": [
                          {
                            "key": "54d93e5b-f296-4e2e-bd09-a3bb116c9a77",
                            "items": [
                              {
                                "contentUdi": "umb://element/d56715800211412f861df46ff1c8fe06",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              },
                              {
                                "contentUdi": "umb://element/53cec82043fe4ff48647ea8d90449696",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              },
                              {
                                "contentUdi": "umb://element/63945212c6dc4795a1f496dd179a9315",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              },
                              {
                                "contentUdi": "umb://element/b2b4ec70f704423f9a7fd20aff7a954f",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </pageLayout>
    <pageTitle>
      <Value><![CDATA[Projects]]></Value>
    </pageTitle>
    <projectItems>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c08a2695-2d73-4eb8-a6ba-8cd09ea862cf",
      "udi": "umb://element/69d025dfa9ef452790acbef5ca42b9ac",
      "projectParagraph": "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste.",
      "projectDate": "2024-08-16T00:00:00",
      "projectImage": "[{\u0022key\u0022:\u0022aa1e214f-c2c8-4a34-bfb9-738110ec070a\u0022,\u0022mediaKey\u0022:\u002284be709f-53de-42b9-ac7d-5bbe4847af9a\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "projectHeadLine": "Annual Report for Juva Inc.",
      "projectLink": "/projects/juva-inc",
      "customProjectImage": "[{\u0022key\u0022:\u0022f10a7a83-01d7-4680-bc7a-379699891afd\u0022,\u0022mediaKey\u0022:\u00226f964891-b371-4519-8430-014bfcde4d50\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "c08a2695-2d73-4eb8-a6ba-8cd09ea862cf",
      "udi": "umb://element/ec2b0b22ef0e49ffa6ce3940f937f5e0",
      "projectHeadLine": "Business Insights for SP Group Inc.",
      "projectImage": "[{\u0022key\u0022:\u0022ebe4674f-ff94-49fd-961c-f580ea1a0b50\u0022,\u0022mediaKey\u0022:\u00225da677f2-a1a1-4795-b19e-921b1e316cce\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "projectParagraph": "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste.",
      "projectDate": "2024-05-17T00:00:00",
      "customProjectImage": "[{\u0022key\u0022:\u002232fd64bb-9f62-43d1-b784-2ef89d04005d\u0022,\u0022mediaKey\u0022:\u00222b954bfe-af3b-434f-953e-c07220083533\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "c08a2695-2d73-4eb8-a6ba-8cd09ea862cf",
      "udi": "umb://element/8cc6762e5bdf43c4bc8dd86bc9ae1f43",
      "projectHeadLine": "Financial Advisors to Irra Corp Inc.",
      "projectImage": "[{\u0022key\u0022:\u00225115d64a-a715-4950-bd70-c625896ec10f\u0022,\u0022mediaKey\u0022:\u00224ecb261f-c60a-4fd5-9d75-161ce3133c76\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "projectParagraph": "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste.",
      "projectDate": "2024-07-18T00:00:00",
      "customProjectImage": "[{\u0022key\u0022:\u00222c3fc076-499d-4cc2-86fd-9a8f5c07acf4\u0022,\u0022mediaKey\u0022:\u0022f3fec1d9-e987-4f28-9364-3aa0a66d7ce9\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "c08a2695-2d73-4eb8-a6ba-8cd09ea862cf",
      "udi": "umb://element/a16bc971b7914c00bc35cbf007082742",
      "projectHeadLine": "Budget Planning for Buccura Inc.",
      "projectImage": "[{\u0022key\u0022:\u002293d96adb-368d-49cf-85b5-d126c37fe826\u0022,\u0022mediaKey\u0022:\u00225a8b7545-892c-41ac-b7e7-e635580f7786\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "projectParagraph": "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste.",
      "projectDate": "2024-06-06T00:00:00",
      "customProjectImage": "[{\u0022key\u0022:\u00228c1287bc-123c-4c8b-8420-ec376922a7ee\u0022,\u0022mediaKey\u0022:\u0022224e3b4d-79c3-46ad-9124-87cdc1baa657\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "c08a2695-2d73-4eb8-a6ba-8cd09ea862cf",
      "udi": "umb://element/c248dcddb4e44528b8d44c686e28b186",
      "projectHeadLine": "testing testting",
      "projectParagraph": "hjfhiufrhjfrjhfdhjfdjkbhfdjkbhf",
      "projectDate": "2024-05-05T00:00:00",
      "projectImage": "[{\u0022key\u0022:\u0022d12b38b3-b73c-41e5-ba04-2af258a00fa8\u0022,\u0022mediaKey\u0022:\u002284be709f-53de-42b9-ac7d-5bbe4847af9a\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "customProjectImage": "[{\u0022key\u0022:\u0022039b5578-f378-4343-9a1f-c3692c244848\u0022,\u0022mediaKey\u0022:\u00226f964891-b371-4519-8430-014bfcde4d50\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/69d025dfa9ef452790acbef5ca42b9ac",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/ec2b0b22ef0e49ffa6ce3940f937f5e0",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/8cc6762e5bdf43c4bc8dd86bc9ae1f43",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/a16bc971b7914c00bc35cbf007082742",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/c248dcddb4e44528b8d44c686e28b186",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </projectItems>
    <renderContactReusableLayout>
      <Value><![CDATA[1]]></Value>
    </renderContactReusableLayout>
    <renderPartners>
      <Value><![CDATA[]]></Value>
    </renderPartners>
  </Properties>
</Content>