<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e14be36-b99c-4d35-9fb7-4341b404feb6" Alias="Services" Level="2">
  <Info>
    <Parent Key="f4c00c2c-1eaf-4c54-a03c-3bfa3f0f11e9">Onatrix - Home</Parent>
    <Path>/OnatrixHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2024-09-11T16:17:31</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="827f92de-aa7e-4c11-9fb4-b83e41e0fbb6">services</Template>
  </Info>
  <Properties>
    <pageHeadline>
      <Value><![CDATA[Our Services]]></Value>
    </pageHeadline>
    <pageLayout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "88fc29e2-a3df-4ab4-a21c-f0c7114c1e88",
      "udi": "umb://element/843bd8bab920423f8a4b941d4d0fdf3d",
      "headlineContent": "We Provide The Solutions  To Grow Your Business Faster",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Theme\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}"
    },
    {
      "contentTypeKey": "af56d034-14ba-4a02-8aab-4ea30ebfb0d6",
      "udi": "umb://element/48ef207c8a654a5a98cd7bc367050c8d",
      "includeServiceItems": 1
    },
    {
      "contentTypeKey": "1592eeb8-e987-4951-97f9-5d753799e970",
      "udi": "umb://element/a4dcf0ed6d4d4ab4b8b6d642c9c23482",
      "sectionTitle": "Services",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022White\u0022,\r\n  \u0022value\u0022: \u0022#ffffff\u0022\r\n}",
      "centerContent": 1,
      "addSpaceToTop": 1,
      "addPaddingToTop": 0,
      "addSpaceToBottom": 0
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/a4dcf0ed6d4d4ab4b8b6d642c9c23482",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "b1e1bee0-0d7f-4b20-acac-533e8179d4e8",
            "items": [
              {
                "contentUdi": "umb://element/843bd8bab920423f8a4b941d4d0fdf3d",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/48ef207c8a654a5a98cd7bc367050c8d",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </pageLayout>
    <pageTitle>
      <Value><![CDATA[Services]]></Value>
    </pageTitle>
    <renderContactReusableLayout>
      <Value><![CDATA[1]]></Value>
    </renderContactReusableLayout>
    <renderPartners>
      <Value><![CDATA[]]></Value>
    </renderPartners>
    <serviceItems>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4039a93c-9ca1-495b-b619-8ed35e5bea59",
      "udi": "umb://element/739aa202c54642e6893d029ec590e03c",
      "serviceHeadLine": "Risk Management",
      "serviceImage": "[{\u0022key\u0022:\u00222991b30c-97e5-449c-90a0-837016cc441f\u0022,\u0022mediaKey\u0022:\u0022666a2b6a-ac14-46b5-b120-71749df66d62\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "serviceParagraph": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ",
      "serviceUrl": "/services/risk-management"
    },
    {
      "contentTypeKey": "4039a93c-9ca1-495b-b619-8ed35e5bea59",
      "udi": "umb://element/144d88abafe84135b4f9f4c22da2dd8e",
      "serviceHeadLine": "Bonds \u0026 Commodities",
      "serviceImage": "[{\u0022key\u0022:\u0022c44c6ed8-f673-4d1e-b27e-b45e35d8a97a\u0022,\u0022mediaKey\u0022:\u00223ff99bbf-43ea-49ff-948a-299b6872f1ef\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "serviceParagraph": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
    },
    {
      "contentTypeKey": "4039a93c-9ca1-495b-b619-8ed35e5bea59",
      "udi": "umb://element/b3b6bb0775434541936cd2d3853c33af",
      "serviceHeadLine": "Assurance \u0026 Audits",
      "serviceImage": "[{\u0022key\u0022:\u00220d118f85-7c66-4d71-9e1e-596f071900ec\u0022,\u0022mediaKey\u0022:\u002231cb52bd-a615-42a2-8a8f-29d8244cbec2\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "serviceParagraph": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
    },
    {
      "contentTypeKey": "4039a93c-9ca1-495b-b619-8ed35e5bea59",
      "udi": "umb://element/fe1f14c3c0e148e89a163328ea2c41ee",
      "serviceHeadLine": "Tax and Trusts",
      "serviceImage": "[{\u0022key\u0022:\u0022beb300b5-8ed1-47ef-937d-504f9e3cf472\u0022,\u0022mediaKey\u0022:\u002298bc9edb-9d72-40dc-bcb7-8b10ff42c79d\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "serviceParagraph": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
    },
    {
      "contentTypeKey": "4039a93c-9ca1-495b-b619-8ed35e5bea59",
      "udi": "umb://element/486402cf62994f0fac349f9d92fa1324",
      "serviceHeadLine": "Financial Advisor",
      "serviceImage": "[{\u0022key\u0022:\u0022ccdbf1d8-e096-4490-8831-925c8ff5cc0f\u0022,\u0022mediaKey\u0022:\u00224025dbec-2063-4668-8b74-3d2095ba1679\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "serviceParagraph": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
    },
    {
      "contentTypeKey": "4039a93c-9ca1-495b-b619-8ed35e5bea59",
      "udi": "umb://element/b59bfcb410df448f827dd1c3514b0ee3",
      "serviceHeadLine": "Statistic Advisors",
      "serviceImage": "[{\u0022key\u0022:\u002242b50d68-bda3-4088-8113-d8c6fbb791ee\u0022,\u0022mediaKey\u0022:\u002251d47371-6356-4f97-8918-69e70f8834d3\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "serviceParagraph": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
    },
    {
      "contentTypeKey": "4039a93c-9ca1-495b-b619-8ed35e5bea59",
      "udi": "umb://element/322f5e94e07d46b0a2a43f68111d0c2d",
      "serviceHeadLine": "testing testting",
      "serviceParagraph": "hjfhiuf rhjfrjhfdhjfdjk bhfdjkbhfds bjkhfdvsggjj bsdbkjhdfs bkjhfsdbkjhf dsbkfdsbkjh",
      "serviceImage": "[{\u0022key\u0022:\u0022a3a5ea8a-feab-409a-a093-b6105daf89c4\u0022,\u0022mediaKey\u0022:\u0022666a2b6a-ac14-46b5-b120-71749df66d62\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/739aa202c54642e6893d029ec590e03c",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/144d88abafe84135b4f9f4c22da2dd8e",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/b3b6bb0775434541936cd2d3853c33af",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/fe1f14c3c0e148e89a163328ea2c41ee",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/486402cf62994f0fac349f9d92fa1324",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/b59bfcb410df448f827dd1c3514b0ee3",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/322f5e94e07d46b0a2a43f68111d0c2d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceItems>
  </Properties>
</Content>