<?xml version="1.0" encoding="utf-8"?>
<Content Key="34cd0ef8-aa65-47a5-bd74-34dd69da4893" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2024-09-11T17:09:17</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <addedPartners>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ea1f7596-194b-4a96-ab16-17427a02e887",
      "udi": "umb://element/3d2a7bbf5a5c4c7c8e7c761625ea8111",
      "partnerLogotype": "[{\u0022key\u0022:\u0022f62b61bc-2f00-4479-addd-70de4bff3da1\u0022,\u0022mediaKey\u0022:\u00228cfa24b1-c51a-40c2-9d4e-3562350450d5\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "partnerName": "Freedombird"
    },
    {
      "contentTypeKey": "ea1f7596-194b-4a96-ab16-17427a02e887",
      "udi": "umb://element/38e2e55dcef04ab19d2869008ca0cace",
      "partnerLogotype": "[{\u0022key\u0022:\u0022895c03ae-cfb9-457d-912b-027bbbd9e238\u0022,\u0022mediaKey\u0022:\u00225d475a77-a447-4af2-9e81-58187ab225c7\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "partnerName": "Identity"
    },
    {
      "contentTypeKey": "ea1f7596-194b-4a96-ab16-17427a02e887",
      "udi": "umb://element/25f5f22792ca4249bf4da7d5c74e428c",
      "partnerLogotype": "[{\u0022key\u0022:\u0022b4c2ad20-fdc2-4e23-adf3-868714fb885b\u0022,\u0022mediaKey\u0022:\u002252923304-fc2e-485c-b52e-44d027e07208\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "partnerName": "Natural"
    },
    {
      "contentTypeKey": "ea1f7596-194b-4a96-ab16-17427a02e887",
      "udi": "umb://element/a87a36d6cf9d43a68d347d4072e14173",
      "partnerLogotype": "[{\u0022key\u0022:\u002207f9cfa6-a242-4a65-8acb-7d8b33417c09\u0022,\u0022mediaKey\u0022:\u00229d5771c6-0908-40a9-860d-2f6cb5082686\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "partnerName": "Simpleaf"
    },
    {
      "contentTypeKey": "ea1f7596-194b-4a96-ab16-17427a02e887",
      "udi": "umb://element/8319c06c9da94ad481cc09a4608b29cd",
      "partnerLogotype": "[{\u0022key\u0022:\u002267a4e3aa-4da0-44c4-a2e5-a6d68164efea\u0022,\u0022mediaKey\u0022:\u00226c84800d-e9a7-44b5-beb8-2ad49b01addf\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "partnerName": "Globe"
    },
    {
      "contentTypeKey": "ea1f7596-194b-4a96-ab16-17427a02e887",
      "udi": "umb://element/95aba666429246fb8dbfce513bb462e7",
      "partnerLogotype": "[{\u0022key\u0022:\u002242e8e468-7fe2-4e23-8855-ff5f82c894ce\u0022,\u0022mediaKey\u0022:\u0022529c0891-8a4f-4042-a3be-b4760150a1aa\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "partnerName": "Fossil"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3d2a7bbf5a5c4c7c8e7c761625ea8111",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/38e2e55dcef04ab19d2869008ca0cace",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/25f5f22792ca4249bf4da7d5c74e428c",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/a87a36d6cf9d43a68d347d4072e14173",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/8319c06c9da94ad481cc09a4608b29cd",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/95aba666429246fb8dbfce513bb462e7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </addedPartners>
    <companyAdress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </companyAdress>
    <companyEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </companyEmail>
    <companyPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </companyPhone>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e1fb8536-143e-4dd0-a007-b6cdf93d5b1a",
      "udi": "umb://element/97161660f6bf459181ef0100005a8431",
      "platformName": "[\u0022Facebook\u0022]",
      "platformUrl": "https://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "e1fb8536-143e-4dd0-a007-b6cdf93d5b1a",
      "udi": "umb://element/2e4e6e3ba91143fab87cd1c226b9466c",
      "platformName": "[\u0022Linkedin\u0022]",
      "platformUrl": "https://linkedin.com/onatrix"
    },
    {
      "contentTypeKey": "e1fb8536-143e-4dd0-a007-b6cdf93d5b1a",
      "udi": "umb://element/a77e2abe898a41079e535076485d4ca0",
      "platformName": "[\u0022X\u0022]",
      "platformUrl": "https://www.x.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/97161660f6bf459181ef0100005a8431",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/a77e2abe898a41079e535076485d4ca0",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/2e4e6e3ba91143fab87cd1c226b9466c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>