<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ff99bbf-43ea-49ff-948a-299b6872f1ef" Alias="BondsAndCommodities.png" Level="2">
  <Info>
    <Parent Key="a051b51f-1a33-4196-b57a-2d76f35aad17">Services</Parent>
    <Path>/Services/BondsAndCommoditiespng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T15:35:21</CreateDate>
    <NodeName Default="BondsAndCommodities.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/gbil5cmd/bondsandcommodities.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>