<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a8b7545-892c-41ac-b7e7-e635580f7786" Alias="Buccura.png" Level="2">
  <Info>
    <Parent Key="07b40d7e-c833-4b1b-908a-7f340c0af051">Projects</Parent>
    <Path>/Projects/Buccurapng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-26T20:44:34</CreateDate>
    <NodeName Default="Buccura.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/zk5n11cf/pj4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>