<?xml version="1.0" encoding="utf-8"?>
<Media Key="5993f0e3-8df2-4684-83bc-4e39ca78c518" Alias="ContactImage.svg" Level="2">
  <Info>
    <Parent Key="9b65d584-3e26-424a-a3b4-670acf034977">Sections</Parent>
    <Path>/Sections/ContactImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T13:59:31</CreateDate>
    <NodeName Default="ContactImage.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cfgddo5j/contactimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>