<?xml version="1.0" encoding="utf-8"?>
<Media Key="48c98172-bdaa-4248-8dd6-948c9c0d1e34" Alias="DotMap.svg" Level="2">
  <Info>
    <Parent Key="2f04ceab-fd18-4fd1-8e67-e11728bccf73">Miscellaneous</Parent>
    <Path>/Miscellaneous/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T18:58:37</CreateDate>
    <NodeName Default="DotMap.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qa4gxkvr/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>