<?xml version="1.0" encoding="utf-8"?>
<Media Key="529c0891-8a4f-4042-a3be-b4760150a1aa" Alias="Fossil.svg" Level="2">
  <Info>
    <Parent Key="d905f06f-72ae-4362-af46-01968bde7125">Partners</Parent>
    <Path>/Partners/Fossilsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:29:58</CreateDate>
    <NodeName Default="Fossil.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mo0d3mcu/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>