<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e939f45-c9cb-4fb8-bb1e-72691f0c8390" Alias="GreyBlock.svg" Level="2">
  <Info>
    <Parent Key="2f04ceab-fd18-4fd1-8e67-e11728bccf73">Miscellaneous</Parent>
    <Path>/Miscellaneous/GreyBlocksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T19:07:06</CreateDate>
    <NodeName Default="GreyBlock.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w2rdd1gq/greyblock.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>