<?xml version="1.0" encoding="utf-8"?>
<Media Key="6001ca3c-2f71-4612-a8b7-6d8483a886f5" Alias="GroupDot.svg" Level="2">
  <Info>
    <Parent Key="2f04ceab-fd18-4fd1-8e67-e11728bccf73">Miscellaneous</Parent>
    <Path>/Miscellaneous/GroupDotsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T18:59:13</CreateDate>
    <NodeName Default="GroupDot.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zz1lhatk/groupdot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>