<?xml version="1.0" encoding="utf-8"?>
<Media Key="91f23f51-13bf-4027-9606-ceb880d8ad9f" Alias="HeroImage.svg" Level="2">
  <Info>
    <Parent Key="9b65d584-3e26-424a-a3b4-670acf034977">Sections</Parent>
    <Path>/Sections/HeroImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T14:02:29</CreateDate>
    <NodeName Default="HeroImage.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uobfa23e/heroimagesvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>