<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ecb261f-c60a-4fd5-9d75-161ce3133c76" Alias="IrraGroup.png" Level="2">
  <Info>
    <Parent Key="07b40d7e-c833-4b1b-908a-7f340c0af051">Projects</Parent>
    <Path>/Projects/IrraGrouppng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-26T20:43:51</CreateDate>
    <NodeName Default="IrraGroup.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/sdwi14dd/pj3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>