<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3fec1d9-e987-4f28-9364-3aa0a66d7ce9" Alias="IrraGroupSquare.png" Level="2">
  <Info>
    <Parent Key="07b40d7e-c833-4b1b-908a-7f340c0af051">Projects</Parent>
    <Path>/Projects/IrraGroupSquarepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-28T15:53:28</CreateDate>
    <NodeName Default="IrraGroupSquare.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/kyflqrpo/pj3large.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>