<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a3206dd-99b0-40c2-9bd3-a05ed694b86d" Alias="JuvaIncLarge.png" Level="2">
  <Info>
    <Parent Key="07b40d7e-c833-4b1b-908a-7f340c0af051">Projects</Parent>
    <Path>/Projects/JuvaIncLargepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-28T20:21:06</CreateDate>
    <NodeName Default="JuvaIncLarge.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/klghjtgz/juvainclarge.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>