<?xml version="1.0" encoding="utf-8"?>
<Media Key="30c59548-1ac6-4b7f-838c-baa4aff32c62" Alias="Kevin.png" Level="2">
  <Info>
    <Parent Key="38db0400-331a-4f42-9a75-6810a82b922d">Team Members</Parent>
    <Path>/TeamMembers/Kevinpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-27T17:16:54</CreateDate>
    <NodeName Default="Kevin.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/y3pjhbvp/kevin.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>