<?xml version="1.0" encoding="utf-8"?>
<Media Key="adef1b52-3ac4-4027-8ce6-c4a5e25f8c5f" Alias="KevinGardner.png" Level="2">
  <Info>
    <Parent Key="38db0400-331a-4f42-9a75-6810a82b922d">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-27T13:34:13</CreateDate>
    <NodeName Default="KevinGardner.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1xilsg3n/kevin-gardner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>