<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fb03de5-7d0c-4d50-8126-2e0ad729f89f" Alias="LogoType.svg" Level="2">
  <Info>
    <Parent Key="2f04ceab-fd18-4fd1-8e67-e11728bccf73">Miscellaneous</Parent>
    <Path>/Miscellaneous/LogoTypesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T15:11:26</CreateDate>
    <NodeName Default="LogoType.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c4abflix/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>