<?xml version="1.0" encoding="utf-8"?>
<Media Key="34106b17-a8da-4fff-8fce-67caa51898e5" Alias="map.png" Level="2">
  <Info>
    <Parent Key="2f04ceab-fd18-4fd1-8e67-e11728bccf73">Miscellaneous</Parent>
    <Path>/Miscellaneous/mappng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T14:16:46</CreateDate>
    <NodeName Default="map.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/tcqfnavt/map.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>