<?xml version="1.0" encoding="utf-8"?>
<Media Key="52923304-fc2e-485c-b52e-44d027e07208" Alias="Natural.svg" Level="2">
  <Info>
    <Parent Key="d905f06f-72ae-4362-af46-01968bde7125">Partners</Parent>
    <Path>/Partners/Naturalsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:28:45</CreateDate>
    <NodeName Default="Natural.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/40hdbmbv/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>