<?xml version="1.0" encoding="utf-8"?>
<Media Key="d905f06f-72ae-4362-af46-01968bde7125" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T12:25:25</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>