<?xml version="1.0" encoding="utf-8"?>
<Media Key="7326d7ae-b3a0-4c94-b7a1-e7f8f3dcd6d1" Alias="ProjectsMiscImage.png" Level="2">
  <Info>
    <Parent Key="07b40d7e-c833-4b1b-908a-7f340c0af051">Projects</Parent>
    <Path>/Projects/ProjectsMiscImagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-28T20:39:44</CreateDate>
    <NodeName Default="ProjectsMiscImage.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/eeohbroj/img-47-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>