<?xml version="1.0" encoding="utf-8"?>
<Media Key="07b40d7e-c833-4b1b-908a-7f340c0af051" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-26T20:41:57</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>