<?xml version="1.0" encoding="utf-8"?>
<Media Key="666a2b6a-ac14-46b5-b120-71749df66d62" Alias="RiskManagement.png" Level="2">
  <Info>
    <Parent Key="a051b51f-1a33-4196-b57a-2d76f35aad17">Services</Parent>
    <Path>/Services/RiskManagementpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T15:34:34</CreateDate>
    <NodeName Default="RiskManagement.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2xqdzud3/riskmanagement.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>