<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b65d584-3e26-424a-a3b4-670acf034977" Alias="Sections" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sections</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-09T14:03:13</CreateDate>
    <NodeName Default="Sections" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>