<?xml version="1.0" encoding="utf-8"?>
<Media Key="a051b51f-1a33-4196-b57a-2d76f35aad17" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T15:34:03</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>