<?xml version="1.0" encoding="utf-8"?>
<Media Key="5dea6743-6099-44c1-be45-04db29553714" Alias="Signature.svg" Level="2">
  <Info>
    <Parent Key="2f04ceab-fd18-4fd1-8e67-e11728bccf73">Miscellaneous</Parent>
    <Path>/Miscellaneous/Signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T14:16:24</CreateDate>
    <NodeName Default="Signature.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/whnerp2c/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>