<?xml version="1.0" encoding="utf-8"?>
<Media Key="72ee3aee-ccc4-48d9-ac5d-4ed5ec4db554" Alias="SuccessImage.svg" Level="2">
  <Info>
    <Parent Key="9b65d584-3e26-424a-a3b4-670acf034977">Sections</Parent>
    <Path>/Sections/SuccessImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T18:12:59</CreateDate>
    <NodeName Default="SuccessImage.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dsdfzeg5/successimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>