<?xml version="1.0" encoding="utf-8"?>
<Media Key="36a18bd0-ef5a-452c-b779-834429933bc7" Alias="WhychooseusImage.png" Level="2">
  <Info>
    <Parent Key="9b65d584-3e26-424a-a3b4-670acf034977">Sections</Parent>
    <Path>/Sections/WhychooseusImagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-22T17:22:40</CreateDate>
    <NodeName Default="WhychooseusImage.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/l3appabt/whychooseus.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>