<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b12a0f57-5d5b-4f06-ac3a-3407ab7b88c1" Alias="Button Color" Level="1">
  <Info>
    <Name>Button Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "4F5955",
      "label": "Theme"
    },
    {
      "value": "808080",
      "label": "Standard"
    },
    {
      "value": "F2EDDC",
      "label": "Yellow"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>