<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1595db1b-b6b4-4178-ad45-60035bb987ab" Alias="FormButton - Button Type " Level="1">
  <Info>
    <Name>FormButton - Button Type </Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "submit",
    "reset"
  ]
}]]></Config>
</DataType>