<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5d3dcc7-f021-4c11-8519-1aa2e38aeb81" Alias="Link color" Level="1">
  <Info>
    <Name>Link color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "ffffff",
      "label": "White"
    },
    {
      "value": "171717",
      "label": "Black"
    },
    {
      "value": "F2EDDC",
      "label": "Yellow"
    },
    {
      "value": "4F5955",
      "label": "Theme"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>