<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ba9f224e-9154-4e96-a392-da60c6a407d7" Alias="Modular - Layout" Level="1">
  <Info>
    <Name>Modular - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "d4e8bffc-8ddd-4627-90ba-1fa9c115a446",
      "name": "Containers"
    },
    {
      "key": "c0f350fe-125a-4f1f-9106-dd9cfde42b1f",
      "name": "Content"
    },
    {
      "key": "e49e16bc-dc6d-47b9-9f13-83332857e33d",
      "name": "Components"
    },
    {
      "name": "Form",
      "key": "6e987433-8334-4c9b-8510-6804e6cc0ecb"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "e127e5de-a5c1-4f2e-890d-db2719c4fbaf",
      "allowAtRoot": false,
      "groupKey": "e49e16bc-dc6d-47b9-9f13-83332857e33d",
      "allowInAreas": true,
      "areas": [],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ]
    },
    {
      "contentElementTypeKey": "34c861d8-2c4b-405b-b8d4-067402a262a4",
      "allowAtRoot": false,
      "groupKey": "c0f350fe-125a-4f1f-9106-dd9cfde42b1f",
      "label": "heading 1 - **{=headlineContent}**",
      "allowInAreas": true,
      "areas": [],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 7
        }
      ]
    },
    {
      "contentElementTypeKey": "88fc29e2-a3df-4ab4-a21c-f0c7114c1e88",
      "allowAtRoot": false,
      "groupKey": "c0f350fe-125a-4f1f-9106-dd9cfde42b1f",
      "label": "heading 2 - **{=headlineContent}**",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 6
        }
      ],
      "areas": []
    },
    {
      "contentElementTypeKey": "d953915f-ea5e-4d20-aae0-dfba6e2beb1f",
      "allowAtRoot": false,
      "groupKey": "c0f350fe-125a-4f1f-9106-dd9cfde42b1f",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        }
      ],
      "label": "heading 3 - **{=headlineContent}**"
    },
    {
      "contentElementTypeKey": "b46a66c1-743a-4e8a-990b-e9829e1d0e57",
      "allowAtRoot": false,
      "groupKey": "c0f350fe-125a-4f1f-9106-dd9cfde42b1f",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 1
        }
      ],
      "label": "heading 4 - **{=headlineContent}**"
    },
    {
      "contentElementTypeKey": "c1f6ddb2-e471-4d24-bb7f-47ae2c860956",
      "allowAtRoot": false,
      "groupKey": "c0f350fe-125a-4f1f-9106-dd9cfde42b1f",
      "label": "link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "7ae50a5a-4ae7-4015-b45b-b7f215859ca0",
      "allowAtRoot": false,
      "groupKey": "c0f350fe-125a-4f1f-9106-dd9cfde42b1f",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "areas": []
    },
    {
      "contentElementTypeKey": "52478c7f-1c59-4d8e-886c-dc532aa276ab",
      "allowAtRoot": false,
      "groupKey": "c0f350fe-125a-4f1f-9106-dd9cfde42b1f",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "cac3e6b0-631f-4e25-b9f5-f0d8e3d518fb",
      "allowAtRoot": false,
      "groupKey": "c0f350fe-125a-4f1f-9106-dd9cfde42b1f",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 9
        }
      ]
    },
    {
      "contentElementTypeKey": "d273ea5d-4582-4b31-85e9-cfc1783ff87e",
      "allowAtRoot": false,
      "groupKey": "c0f350fe-125a-4f1f-9106-dd9cfde42b1f",
      "allowInAreas": true,
      "areas": [],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "7b98aeb2-7df3-4998-b5af-7dc2cc53fa07",
      "allowAtRoot": false,
      "groupKey": "c0f350fe-125a-4f1f-9106-dd9cfde42b1f",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 11
        }
      ],
      "areas": []
    },
    {
      "contentElementTypeKey": "af56d034-14ba-4a02-8aab-4ea30ebfb0d6",
      "allowAtRoot": false,
      "groupKey": "e49e16bc-dc6d-47b9-9f13-83332857e33d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "1592eeb8-e987-4951-97f9-5d753799e970",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "b1e1bee0-0d7f-4b20-acac-533e8179d4e8",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "d4e8bffc-8ddd-4627-90ba-1fa9c115a446"
    },
    {
      "contentElementTypeKey": "6c868789-0c7a-4091-ba45-745abd3dac5a",
      "allowAtRoot": false,
      "groupKey": "d4e8bffc-8ddd-4627-90ba-1fa9c115a446",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "82f36d5f-c175-4167-9a20-d2d7359fda44",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        }
      ]
    },
    {
      "contentElementTypeKey": "5732a435-630e-4e82-b6f9-7de86cd516a2",
      "allowAtRoot": true,
      "groupKey": "d4e8bffc-8ddd-4627-90ba-1fa9c115a446",
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 7
        }
      ],
      "areas": [
        {
          "key": "9032a295-5912-45dc-8278-4cb23da27a08",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "label": "Section (full width) - **{=sectionTitle}**"
    },
    {
      "contentElementTypeKey": "3d038c3b-a479-4c79-a3cf-3f2870931d71",
      "allowAtRoot": false,
      "groupKey": "d4e8bffc-8ddd-4627-90ba-1fa9c115a446",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 5
        }
      ],
      "areas": [
        {
          "key": "af1782ea-3af1-4fcc-a29c-9836373356bd",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "73452412-3c20-4985-b5c9-ee38ae610d68",
      "allowAtRoot": false,
      "groupKey": "c0f350fe-125a-4f1f-9106-dd9cfde42b1f",
      "allowInAreas": true,
      "label": "",
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        }
      ],
      "areas": [
        {
          "key": "e6599a7f-5cf3-4dcb-a889-8110fe26860b",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "bedd8386-d44f-4548-a55f-4c44ae3b4558",
      "allowAtRoot": false,
      "groupKey": "e49e16bc-dc6d-47b9-9f13-83332857e33d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "543e685c-2a96-4844-9259-1a96c33a8fe8",
      "allowAtRoot": false,
      "groupKey": "e49e16bc-dc6d-47b9-9f13-83332857e33d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "3203fd67-cc70-46fe-ab20-4ea50fcd0a15",
      "allowAtRoot": false,
      "groupKey": "e49e16bc-dc6d-47b9-9f13-83332857e33d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "8a777d5f-a544-4e6f-8933-35718134f44d",
      "allowAtRoot": false,
      "groupKey": "6e987433-8334-4c9b-8510-6804e6cc0ecb",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 9
        }
      ],
      "areas": [
        {
          "key": "54d93e5b-f296-4e2e-bd09-a3bb116c9a77",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "61d5fb41-3252-44cb-a512-c826bf77f201",
      "allowAtRoot": false,
      "groupKey": "6e987433-8334-4c9b-8510-6804e6cc0ecb",
      "allowInAreas": true,
      "label": "FormButton - **{=buttonType}**",
      "columnSpanOptions": [
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "fc85549b-41bb-44ba-87f1-ad4c5f5c06a7",
      "allowAtRoot": false,
      "groupKey": "6e987433-8334-4c9b-8510-6804e6cc0ecb",
      "allowInAreas": true,
      "label": "InputText - **{=uniqueName}**",
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 10
        }
      ]
    },
    {
      "contentElementTypeKey": "f00c82b9-dcba-410a-9dd3-76f117567d0a",
      "allowAtRoot": false,
      "groupKey": "6e987433-8334-4c9b-8510-6804e6cc0ecb",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>