<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7bad62f6-4198-4b58-b028-1eec8e9ea474" Alias="Partners - Block List" Level="1">
  <Info>
    <Name>Partners - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ea1f7596-194b-4a96-ab16-17427a02e887",
      "label": "{=partnerName}"
    }
  ],
  "validationLimit": {
    "max": 6
  }
}]]></Config>
</DataType>