<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06ba381e-f870-4c60-84bf-93612a6ed928" Alias="Projects - Block List " Level="1">
  <Info>
    <Name>Projects - Block List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c08a2695-2d73-4eb8-a6ba-8cd09ea862cf",
      "label": "{=projectHeadLine}"
    }
  ]
}]]></Config>
</DataType>