<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c757ab43-c368-45af-828a-3d8f96242e8e" Alias="Section - Center Content on Page - Toggle Property Editor UI" Level="1">
  <Info>
    <Name>Section - Center Content on Page - Toggle Property Editor UI</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>