<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b147599-e884-4435-9559-d2c257415345" Alias="Services - Block List " Level="1">
  <Info>
    <Name>Services - Block List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4039a93c-9ca1-495b-b619-8ed35e5bea59",
      "label": "{=serviceHeadLine}"
    }
  ]
}]]></Config>
</DataType>