<?xml version="1.0" encoding="utf-8"?>
<DataType Key="627d63c4-48e0-4ea7-81d2-557d80fff85f" Alias="Social media platform blocklist" Level="1">
  <Info>
    <Name>Social media platform blocklist</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e1fb8536-143e-4dd0-a007-b6cdf93d5b1a",
      "label": "**{=platformName}** - {=platformUrl}"
    }
  ]
}]]></Config>
</DataType>