<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0af7ed59-0707-41c5-abcc-bdece28a4c5d" Alias="Team Members   - Block List " Level="1">
  <Info>
    <Name>Team Members   - Block List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6586a012-d6eb-4707-9487-ed7b364be863",
      "label": "{=memberName}"
    }
  ],
  "validationLimit": {}
}]]></Config>
</DataType>