@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters

@{
    var buttonText = Model?.Content.Value<string>("buttonText");
    var buttonType = Model?.Content.Value<string>("buttonType");
    var centerButtonClass = Model?.Content.Value<bool>("centerButton") == true ? "center-content" : "";
    var backgroundcolor = Model?.Content.Value<ColorPickerValueConverter.PickedColor>("backgroundcolor")?.Label.ToLower() ?? null;
    var linkTextColor = Model?.Content.Value<ColorPickerValueConverter.PickedColor>("linkTextColor")?.Label.ToLower() ?? null;
    var backgroundColorClass = !string.IsNullOrEmpty(backgroundcolor) ? $"bg-{backgroundcolor}" : "";
    var makeButtonFullWidth = Model?.Content.Value<bool>("makeButtonFullWidth") == true ? "full-width" : "";
}

@if (!string.IsNullOrEmpty(buttonText))
{
    <div class="@centerButtonClass">
        <button type="@buttonType" class="btn @backgroundColorClass @linkTextColor @makeButtonFullWidth">@buttonText</button>
    </div>
}


