@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    var paragraphContent = Model?.Content.Value<string>("paragraphContent");
    var centerText = Model?.Content.Value<bool?>("centerText"); 
}

@if (!string.IsNullOrEmpty(paragraphContent)) 
{
    <p class="@(centerText == true ? "center-text" : "")">@paragraphContent</p> 
}