@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    var quotationContent = Model?.Content.Value<string>("quotationContent");
    var centerText = Model?.Content.Value<bool?>("centerText"); 
}

@if (!string.IsNullOrEmpty(quotationContent)) 
{
    <p class="quotation @(centerText == true ? "center-text" : "")">“@quotationContent”</p> 
}